###
### NAMESPACE
###

import("methods")

importFrom("graphics", "image", "mtext", "text")
importFrom("stats", "as.dendrogram", "as.dist")
importFrom("utils", "adist")

### Computational models
importFrom("NameNeedle", "needleScores")
importFrom("msa", "msa")
importFrom("gdata", "read.xls")

### graphing
importFrom("dendextend", "set", "%>%")
importMethodsFrom("ape", "as.phylo")

### BLOSUM62

### Exports
exportClass("Cipher")
export("Cipher", "encode", "decode")
