###
### NAMESPACE
###

import("methods")
importMethodsFrom("oompaBase", "plot", "image")

importFrom("graphics", "image", "mtext", "text")
importFrom("grDevices", "topo.colors")
importFrom("stats", "hclust", "as.dendrogram", "as.dist", "cutree", "heatmap")
importFrom("utils", "adist", "write.csv")

### Computational models
importFrom("NameNeedle", "needleScores", "defaultNeedleParams")
importFrom("msa", "msa", "msaConsensusSequence", "msaClustalW")
importFrom("Biostrings", "AAStringSet")

### graphing
importFrom("dendextend", "set", "%>%")
importFrom("ape", "as.phylo")
importFrom("Polychrome", "createPalette")
importFrom("igraph", "graph_from_edgelist", "set_vertex_attr", "vertex_attr",
           "set_edge_attr")
importFrom("stringr", "str_count")
importFrom("colorspace", "hex2RGB")

### Exports
exportClass("Cipher")
export("Cipher", "encode", "decode")

### SequenceClusters
exportClass("SequenceCluster")
export("SequenceCluster", "updateClusters", "heat")
export("makeSubsMatrix", "alignCluster", "alignAllClusters")

exportClass("AlignedCluster")

exportMethods("plot", "image")

### StringGraphs
exportClass("StringGraph")
export("MotifGraph", "DecompositionGraph", "exportSG")

## KMers
export(makeWords, countWords, plotWords)
