###
### NAMESPACE
###

import("methods")
importMethodsFrom("oompaBase", "plot")
#importFrom("gdata", "read.xls")

importFrom("graphics", "image", "mtext", "text")
importFrom("grDevices", "topo.colors")
importFrom("stats", "hclust", "as.dendrogram", "as.dist", "cutree", "heatmap")
importFrom("utils", "adist")

### Computational models
importFrom("NameNeedle", "needleScores", "defaultNeedleParams")
importFrom("msa", "msa", "msaConsensusSequence", "msaClustalW")
importFrom("Biostrings", "AAStringSet")

### graphing
importFrom("dendextend", "set", "%>%")
importFrom("ape", "as.phylo")

### Exports
exportClass("Cipher")
export("Cipher", "encode", "decode")

### SequenceClusters
exportClass("SequenceCluster")
export("SequenceCluster", "updateClusters", "heat", "align", "alignBranch", "showme")
exportMethods("plot")

